.heading{
    width: 100%;
    text-align:left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px sodil white;
}

.big_image{
    width: 100%;
}

#start, #status{
    font-size: 22px;
}

h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}

.instruction_image{
    display: inline-block;
    width: 45%;
}